.feedback-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 3vh;
    border-top: 1px solid #eeeeee; 
}

.feedback-profile_img{
    width: 2.5rem;
    margin-right: 1vw;
}


.feedback-info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedback-info{
    font-size: 0.8em;
}

.feedback-status-time{
    font-size: 0.8em;
    color: #bdbdbd;
     padding-top: 1.5vh;
}