.feedback-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 3vh;
    border-top: 1px solid #eeeeee; 
}

.feedback-profile_img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1vw;
}


.feedback-info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedback-info{
    margin: 0;
    font-size: 0.8em;
}

.feedback-info-special{
    color: #27d995; 
    padding: 0 0.25vw;
}

.feedback-status-time{
    font-size: 0.8em;
    color: #bdbdbd;
     padding-top: 1.5vh;
}