.team-card-container{
    font-size: 0.75rem;
    padding: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-logo{
    width: 3vh;
    margin-right: .7vw;
}

/*TODO: AQUI VAMOS A MODIFICAR CUANDO QUIERAS HACER LO DEL TEXTO CON ELLIPSES*/
.display-name{
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width: 5vw;
    display:inline-block;
}