.team-card-container{
    font-size: 0.75rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.team-logo{
    width: 3.2vh;
    margin-right: .7vw;
    border-radius: 50%; 
}

.display-name{
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width: 5vw;
    display:inline-block;
}