.team-list-container {
    background-color: #ffffff;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.team-list-header{
    padding: 2.5vh;
    border-bottom: 1px solid #eeeeee; 
}

.teams-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 7vh;
}