.counter-container{
    width:  18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.counter-title{
    font-size: 0.70em;
    color:#9c9da1;
    align-self: flex-end;
}

.counter-sub-element{
    margin-top: 1.5vh;
    align-self: flex-end;
}

.counter-number{
    font-size: 1.3em;
}

.counter-sub-number{
    font-size: 1em;
    color:#9c9da1;
}
