.graphic-card-container{
    background-color: #ffffff;
 
}

.graphic-card-info-container{
    border-top: 1px solid #eeeeee;
}

.graphic-card-header{
    padding: 2.5vh;
}

.radar-chart{
    width: 14.5vw;

    margin: 4vh 4.5vw;
}

.chart-scores-container{
    padding: 1vw 0;
    display: flex;
    justify-content: center;
}

.vbar-legend {
    width: 2px;
    height: 5.5vh;
    background-color: #eeeeee;
    margin:0 1.5vw;
}