.projectcard-container{
    padding: 3vh;
    border: 1px solid #eeeeee;
}

.project-name{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.5vh;
}

.project-description{
    color:#bdbdbd;
    font-size: 0.8em;
    margin-bottom: 1vh;
}


.project-status-container{
    display: flex;
    justify-content: space-between;
}

.project-time-status{
    font-size: 0.7em;
    color:#e0e0e0;
}

.project-subject{
    font-size: 0.7em;
    color:#bdbdbd;
}