button {
	overflow: visible;
	width: auto;
}



.projectlist-container{
    background-color: #ffffff;
    padding: 2vh;
}

.projectlist-header-container{
    display: flex;
    justify-content: space-between
}

button.link {
	font-family: "Verdana" sans-serif;
	font-size: 1em;
	text-align: left;
	color: blue;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}


.projects-container{
    display: flex;
    flex-wrap: wrap;
}