
.feedback-list-container{
    margin-top: 3vh;
    margin-bottom: 4vh;
    background-color: #ffffff;
}

.feedback-header-container{
    padding: 2.5vh;
    border-bottom: 1px solid #eeeeee;
}

.feedback-cards-container{
    display: flex;
    flex-wrap: wrap;
}