*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}

header{

    background-color: #0b185e;
    color: #ffffff;
    padding:  2vh 15vw; 
}

.header-container{
    background-color: #ffffff;
}

.main-container{
    padding-top: 2vh;
    padding-bottom:2vh; 
    padding-left:15vw; 
    display: flex;
}

.breadcumb-container{
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left:15vw; 
    font-size: 0.8rem;
    color:#9c9da1;
}

.user-salute-container{
    display: flex;
    justify-content: space-between;
}

.profile-img{
    width: 4rem;
    margin-right: 2vw;
}

.counters-container{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.user-salute-sub-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-salute{
    font-weight: 600;
}

.user-background{
    font-size: 0.8em;
    color:#9c9da1;
}