@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  } 

body{
    background-color: #eeeeee;
}

.dashboard-container{
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
}

.left-panel{
    margin-left: 13vw;
}

.right-panel{
    margin-right: 13vw;
    margin-left: 3vh;
}