@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  } 

body{
    background-color: #eeeeee;
}

.dashboard-container{
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
}

.left-panel{
    margin-left: 13vw;
}

.right-panel{
    margin-right: 13vw;
    margin-left: 3vh;
}


@media screen and (max-width: 786px){
    .dashboard-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-panel{
        margin: 0 3vw;
    }
    .right-panel{
        margin: 0 3vw;
        align-self: stretch;
    }
}